{
	"appId":"ALIPUBAD67293221805",
	"appKey":"ALIPUBAD67293221805_ANDROID",
	"base64Code":"",
	"packageName":"com.antway.portal",
	"rootPath":"mpaas/android/ALIPUBAD67293221805-default",
	"v6Base64Code":"",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hangzhou.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hangzhou.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://mrtc.mpaas.cn-hangzhou.aliyuncs.com/ws",
	"mdc":"https://mdc.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"gfRHC08+g/t8HEEK5qpKrEzS0GK4fAhctoEbvDMdWn/4CZAfNJje1emptEWN917y+QlmD0r34Q7MHBQ63yobkhQm8Ow/DKsa/bFY1EldUILucSmLePVKlw6aZJ85n5949/gxXbDThz7AriyOgxPMIUeiT179gz+3SVOPmzb4ZTZlsNXo+jqP2vP65esuKMkNCAZMRrvr0qmC8EnqIgUT40RT9kvrrerSJd7YCn0Mxk799b+t+q0RyrbzSXhRIELPyDNfrdG4nRrN7e2w+0NfFnWPJ9k6AQiaz/OQRYLsQU+BIGwTdmFa94X9WNKTeQK+y+wpv2iK3U9p5ZtxE5ffFw=="
}